torch
torchvision
transformers
peft
deepspeed
accelerate
trl
einops
tiktoken
matplotlib
pillow
transformers_stream_generator
wandb
jsonlines
scikit-learn
git+https://github.com/TideDra/GPTFactory
git+https://github.com/TideDra/VLMEvalKit