numpy
torch
torchvision
transformers
peft
deepspeed
accelerate
trl
einops
tiktoken
matplotlib
pillow
transformers_stream_generator
wandb
jsonlines
scikit-learn
git+https://github.com/TideDra/GPTFactory
#git+https://github.com/TideDra/VLMEvalKit
shortuuid
git+https://github.com/IDEA-Research/GroundingDINO.git
openai==1.11.1
confection==0.1.3
spacy
sglang[all]
gradio==4.19.1
timm==0.9.16